.place__paragraph {
  color: #fff;
  max-width: 484px;
  font-weight: normal;
  font-size: 18px;
  line-height: 29.34px;
}

@media screen and (max-width: 800px) {
  .place__paragraph {
    line-height: 26.08px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .place__paragraph {
    margin: 0 16px;
  }
}

@media only screen and (max-width: 400px){
  .place__paragraph{
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;

  }
}