.footer__copyright {
  color: #ffffff;
  width: 165px;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  margin: 0;
}

.footer__copyright:hover {
  opacity: 0.8;
}


@media only screen and (max-width: 400px){
  .footer__copyright{
    line-height: 14px;
    margin-top: 48px;
  }
}
