.intro {
  color: #ffffff;
  max-width: 720px;
  margin-left: 100px;
  margin-bottom: 92px;
}

@media only screen and (max-width: 1025px) {
  .intro {
    margin-left: 48px;
    margin-right: auto;
  }
}
@media only screen and (max-width: 990px) {
  .intro {
    margin-left: auto;
    margin-bottom: 88px;
  }
}

@media only screen and (max-width: 550px) {
  .intro {
    margin-left: 16px;
    margin-bottom: 64px;
    flex-wrap: inherit;
  }
}
