.cover{
  position: relative;
  min-height: 740px;
  display: flex;
  background-image: url(../../images/cover-route-66.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  margin: 0 auto;
}


@media only screen and (max-width: 1025px){
  .cover{
        min-height: 640px;
  }
}


@media only screen and (max-width: 780px){
  .cover{
    min-height: 480px;
  }
}

@media only screen and (max-width: 400px){
  .cover{
    min-height: 200px;
  }
}

