.lead__caption{
    color: #FFFFFF;
    width: 183px;
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    margin-top: 10px;
    letter-spacing: .15em;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px){
    .lead__caption{
        margin-left: 24px;
    }
}

@media only screen and (max-width: 400px){
    .lead-caption{
        margin-left: 24px;
    }
}